.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

.skipLink {
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 10px 0;
    position: absolute;
    left: -1000px;
    top: 0;
    z-index: 999;
}

.skipLink:focus {
    left: 0;
    right: 0;
    text-align: center;
}

.viewRecipes,
.commentButton {
    display: inline;
    color: $white;
    background-color: $accent;
    text-decoration: none;
    padding: 20px 40px;
    align-self: center;
    font-size: 0.7rem;

    &:hover,
    &:focus {
        background-color: $footerEmail;
        color: $accent;
        transition: 0.3s;
    }
}

.backToTop {
    background-color: $footerEmail;
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: -50px;
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;

    .backUp {
            color: $white;
    }
}

.popUp {
    text-transform: uppercase;
    color: $white;
    opacity: 1;
    bottom: 0px;
    transform: translate(0, 0);
}