.contactContainer {
    display: flex;

    .form {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-right: 50px;
        padding-left: 310px;

        h2{
            margin: 100px 0 60px 0;
        }

        input {
            border: none;
            background-color: $white;
            padding: 15px 50px 15px 10px;
        }

        textarea {
            border: none;
            background-color: $white;
        }

        form {
            .nameEmail {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 20px;

                .formName, 
                .formEmail {
                    width: 48%;
                }

                .formSubjectContainer{
                    width: 100%;
                }
            }
        }
    }

    .contactDetails {
        background-color: $white;
        width: 40%;
        padding-left: 30px;
        
        h2{
            margin: 100px 0 50px;
        }

        .detailParagraph {
            width: 60%;
        }
    }

    .details {
        margin-bottom: 100px;
    }

    .hours {
        margin-bottom: 70px;

        h3 {
            margin-bottom: 15px;
        }

        .hoursWeekend {
            margin: 0;
        }
    }

    .days,
    .time {
        display: inline;
    }
}

.formSubject {
    width: 100%;
    margin-bottom: 20px;
}

.contactButton {
    padding: 20px;
    background-color: transparent;

    &:hover,
    &:focus {
        background-color: $accent;
        color: $white;
        transition: 0.3s;
    }
}
