.gallery {
    display: flex;
    flex-wrap: wrap;

    a {
        width: calc(100%/3);

        & :hover,
        & :focus {
            transform: scale(0.9);
            transition: 0.3s;
            cursor: pointer;
        }
    }
}

.carousel {
    background-color: $carouselBackground;

    .hungryContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 200px 0 200px;

        .carouselArrowContainer {
            margin-top: 100px;

            .arrow {
                color: $white;
                @include fontSize(28);
                margin: 0 10px;

                &:hover,
                &:focus {
                    color: $accent;
                }
            }
        }

    }

    .carouselQuoteContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;

        .carouselText {
            position: relative;
            width: 80%;
            padding-top: 60px;

            &:after {
                    content: '';
                    position: absolute;
                    background: $accent;
                    width: 70px;
                    height: 4px;
                    top: 0px;
                    right: 47%;
                } 
        }

        .quote {
            color: $white;
            @include fontSize(50);
        }

        .leftQuote{
            position: absolute;
            left: 60px;
            top: 70px;
        }

        .rightQuote {
            position: absolute;
            right: 55px;
            bottom: 50px;
        }
    }
}