.navBar,
.mainMenu,
.navIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navBar {
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    h1 {
        padding-left: 30px;
    }
}

.mainMenu {

    li {
        padding-right: 30px;

        a{
            color: $primary;

            &:hover,
            &:focus {
                        color: $accent;
                        transition: 0.3s;
                        }
        }
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bagCounter {
    position: relative;
}

.bag {
    padding-right: 30px;
}

.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 17px;
    top: 12px;
    background-color: $accent;
    color: $white;
    border-radius: 50%;
    width: 17px;
    height: 17px;

    p{
        font-size: 0.5rem;
        padding-bottom: 2px;
    }
}

header {
    background-image: url(../assets/home-1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    &.contact {
        background-image: url(../assets/contact-1.jpeg);
        background-size: cover;
        background-position: center;
        height: 65vh;
    }

    &.blogPage {
        background-image: url(../assets/blog-1.jpeg);
        background-size: cover;
        background-position: center;
        height: 70vh;
        margin-bottom: 200px;
    }
}

.mobileNavIcon,
.mobileNavSearch {
    display: none;
}

//used code from codealong in module 1
.slideOutNav {
    background-color: $white;
    color: $accent;
    min-height: 100vh;
    position: fixed;
    top: 0;
    padding: 30px 50px;
    width: 60%;
    max-width: 450px;
    font-weight: bold;
    display: none;
    align-items: center;
    z-index: 20;
    right: -450px;
    transition: 0.3s;

    &.open {
        right: 0;
    }

    button {
        align-self: flex-start;
    }

    .menuClose {
        padding-right: 30px;
    }

    a {
        line-height: 2.2rem;
    }
}