
//site fonts

$headerFont: 'Raleway', sans-serif;
$secondaryFont: 'Lora', serif;
$baseFontSize: 1rem;

//site colors

$primary: #2E2E2E;
$secondary: #999999;
$recipieIcon: #333333;
$white: #f6f6f6;
$accent: #64A604;
$carouselBackground: #DDED9A;