html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lora", serif;
  font-size: 1rem;
  color: #2E2E2E;
}

h1,
.mainMenu,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1,
h4 {
  font-size: 46px;
  font-size: 2.3rem;
  text-transform: uppercase;
}

.navBar a {
  text-decoration: none;
  color: inherit;
}

.mainMenu {
  font-size: 18px;
  font-size: 0.9rem;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: bold;
}
.mainMenu a {
  text-decoration: none;
}

h2 {
  font-size: 28px;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

h3 {
  font-size: 18px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.mostPopular p {
  font-size: 14px;
  font-size: 0.7rem;
  color: #2E2E2E;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.mostPopular a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.recipe {
  list-style: none;
}
.recipe p {
  font-size: 14px;
  font-size: 0.7rem;
  color: #999999;
}

.restaurantSection p {
  font-size: 14px;
  font-size: 0.7rem;
  color: #999999;
}

.carouselText {
  font-size: 24px;
  font-size: 1.2rem;
  color: #2E2E2E;
  font-style: italic;
  letter-spacing: 0.6px;
  line-height: 36px;
}

footer {
  font-size: 13px;
  font-size: 0.65rem;
  color: #999999;
}
footer .contactInfo p {
  line-height: 25px;
}
footer .contactInfo a {
  text-decoration: none;
  color: #999999;
}
footer .contactInfo .footerHeader {
  font-size: 18px;
  font-size: 0.9rem;
  color: #64A604;
  text-transform: uppercase;
  text-decoration: none;
}
footer .recentPostContainer ul {
  list-style: none;
  padding: 0;
}
footer .recentPostContainer ul li > a {
  text-decoration: none;
  color: #999999;
  list-style: none;
}
footer .recentPostContainer h3,
footer .subscribeNowContainer h3 {
  color: #f6f6f6;
  text-transform: uppercase;
}
footer .recentPostContainer p,
footer .subscribeNowContainer p {
  width: 60%;
  line-height: 25px;
}
footer .emailContainer input {
  color: #999999;
  font-family: "Lora", serif;
  font-style: italic;
}
footer .emailContainer .emailArrow {
  color: #f6f6f6;
}

.pineappleBlog h3,
.relatedPosts h3 {
  text-transform: uppercase;
}
.pineappleBlog p,
.relatedPosts p {
  font-size: 14px;
  font-size: 0.7rem;
  color: #2E2E2E;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.pineappleBlog .posted,
.relatedPosts .posted {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.pineappleBlog a,
.relatedPosts a {
  color: inherit;
  text-decoration: none;
}
.pineappleBlog a:hover, .pineappleBlog a:focus,
.relatedPosts a:hover,
.relatedPosts a:focus {
  text-decoration: underline;
}
.pineappleBlog .tagContainer h3,
.pineappleBlog .shareContainer h3,
.relatedPosts .tagContainer h3,
.relatedPosts .shareContainer h3 {
  text-transform: uppercase;
}
.pineappleBlog .tagContainer a,
.pineappleBlog .shareContainer a,
.relatedPosts .tagContainer a,
.relatedPosts .shareContainer a {
  font-size: 14px;
  font-size: 0.7rem;
  color: #999999;
}

.authorContainer .sallyBio h3 {
  text-transform: uppercase;
}
.authorContainer .sallyBio p {
  font-size: 14px;
  font-size: 0.7rem;
  color: #2E2E2E;
  line-height: 27px;
  letter-spacing: 0.3px;
}

.postTextContainer p a {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #2E2E2E;
}

.commentsSection p,
.commentsSection input,
.commentsSection textarea {
  font-family: "Lora", serif;
  color: #999999;
  font-size: 14px;
  font-size: 0.7rem;
}
.commentsSection p {
  font-style: italic;
}

.commentContainer {
  font-size: 14px;
  font-size: 0.7rem;
}
.commentContainer a,
.commentContainer .commentTime {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.commentContainer .commentTime {
  font-size: 12px;
  font-size: 0.6rem;
}

.userComment {
  font-size: 14px;
  font-size: 0.7rem;
  font-family: "Lora", serif;
  color: #333333;
  line-height: 22px;
}

.commentButton,
.viewRecipes {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.formName,
.formEmail,
.formSubject,
.message {
  font-family: "Lora", serif;
  font-size: 14px;
  font-size: 0.7rem;
  color: #535353;
}

.contactButton {
  font-size: 14px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #64A604;
}

.detailParagraph,
.time,
.hoursWeekend,
.contactInfo > p,
.contactInfo > a {
  font-family: "Lora", serif;
  font-size: 14px;
  font-size: 0.7rem;
  color: #999999;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.detailParagraph,
.time {
  color: #535353;
  width: 75%;
}

.days {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.hoursWeekend {
  font-style: italic;
}

.contactInfo {
  margin-bottom: 100px;
}
.contactInfo a {
  display: block;
  text-decoration: none;
}
.contactInfo :nth-child(3) {
  margin: 30px 0 20px;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

.skipLink {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

.viewRecipes,
.commentButton {
  display: inline;
  color: #f6f6f6;
  background-color: #64A604;
  text-decoration: none;
  padding: 20px 40px;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 0.7rem;
}
.viewRecipes:hover, .viewRecipes:focus,
.commentButton:hover,
.commentButton:focus {
  background-color: #535353;
  color: #64A604;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.backToTop {
  background-color: #535353;
  position: fixed;
  z-index: 100;
  width: 100%;
  bottom: -50px;
  opacity: 0;
  -webkit-transform: translate(0, 10vh);
          transform: translate(0, 10vh);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.backToTop .backUp {
  color: #f6f6f6;
}

.popUp {
  text-transform: uppercase;
  color: #f6f6f6;
  opacity: 1;
  bottom: 0px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.navBar,
.mainMenu,
.navIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.navBar h1 {
  padding-left: 30px;
}

.mainMenu li {
  padding-right: 30px;
}
.mainMenu li a {
  color: #2E2E2E;
}
.mainMenu li a:hover, .mainMenu li a:focus {
  color: #64A604;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bagCounter {
  position: relative;
}

.bag {
  padding-right: 30px;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 17px;
  top: 12px;
  background-color: #64A604;
  color: #f6f6f6;
  border-radius: 50%;
  width: 17px;
  height: 17px;
}
.counter p {
  font-size: 0.5rem;
  padding-bottom: 2px;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header.contact {
  background-image: url(../assets/contact-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 65vh;
}
header.blogPage {
  background-image: url(../assets/blog-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  margin-bottom: 200px;
}

.mobileNavIcon,
.mobileNavSearch {
  display: none;
}

.slideOutNav {
  background-color: #f6f6f6;
  color: #64A604;
  min-height: 100vh;
  position: fixed;
  top: 0;
  padding: 30px 50px;
  width: 50%;
  max-width: 450px;
  font-weight: bold;
  display: none;
  z-index: 20;
  right: -450px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slideOutNav.open {
  right: 0;
}
.slideOutNav button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.slideOutNav a {
  line-height: 2.2rem;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactContainer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-right: 50px;
  padding-left: 310px;
}
.contactContainer .form h2 {
  margin: 100px 0 60px 0;
}
.contactContainer .form input {
  border: none;
  background-color: #f6f6f6;
  padding: 15px 50px 15px 10px;
}
.contactContainer .form textarea {
  border: none;
  background-color: #f6f6f6;
}
.contactContainer .form form .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.contactContainer .form form .nameEmail .formName,
.contactContainer .form form .nameEmail .formEmail {
  width: 48%;
}
.contactContainer .form form .nameEmail .formSubjectContainer {
  width: 100%;
}
.contactContainer .contactDetails {
  background-color: #f6f6f6;
  width: 40%;
  padding-left: 30px;
}
.contactContainer .contactDetails h2 {
  margin: 100px 0 50px;
}
.contactContainer .contactDetails .detailParagraph {
  width: 60%;
}
.contactContainer .details {
  margin-bottom: 100px;
}
.contactContainer .hours {
  margin-bottom: 70px;
}
.contactContainer .hours h3 {
  margin-bottom: 15px;
}
.contactContainer .hours .hoursWeekend {
  margin: 0;
}
.contactContainer .days,
.contactContainer .time {
  display: inline;
}

.formSubject {
  width: 100%;
  margin-bottom: 20px;
}

.contactButton:hover, .contactButton:focus {
  background-color: #64A604;
  color: #f6f6f6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 25px;
}

.pineappleBlog {
  margin-bottom: 50px;
  border-bottom: 1px solid #f6f6f6;
}
.pineappleBlog :nth-child(6) {
  padding-bottom: 30px;
  border-bottom: 1px solid #f6f6f6;
}
.pineappleBlog .posted {
  margin: 0 0 30px;
}
.pineappleBlog .tagContainer,
.pineappleBlog .shareContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.pineappleBlog .tagContainer h3,
.pineappleBlog .shareContainer h3 {
  margin-right: 10px;
}
.pineappleBlog .tagContainer a,
.pineappleBlog .shareContainer a {
  padding-right: 5px;
}

.tagContainer {
  margin: 30px 0 20px 0;
}

.shareContainer {
  margin-bottom: 30px;
}
.shareContainer h3 {
  margin-right: 10px;
}
.shareContainer i {
  padding-right: 15px;
}
.shareContainer i.fa-facebook-f:hover, .shareContainer i.fa-facebook-f:focus {
  color: #4267B2;
}
.shareContainer i.fa-twitter:hover, .shareContainer i.fa-twitter:focus {
  color: #1DA1F2;
}
.shareContainer i.fa-instagram:hover, .shareContainer i.fa-instagram:focus {
  color: #C13584;
}

.authorContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.authorContainer .authorPic {
  margin-right: 30px;
}
.authorContainer .authorPic img {
  width: auto;
}
.authorContainer .sallyBio {
  background-color: #f6f6f6;
  padding: 35px 20px 10px 35px;
}
.authorContainer .sallyBio h3 {
  margin-bottom: 20px;
}
.authorContainer .sallyBio p {
  margin: 0;
}

.relatedPosts .postsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.relatedPosts .postsContainer .relatedPost {
  width: 32%;
}
.relatedPosts .postsContainer .relatedPostPic {
  margin: 30px 0;
}
.relatedPosts .postsContainer .postTextContainer p {
  margin: 7px 0;
}

.commentsSection h3 {
  margin-bottom: 50px;
}

.commentor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.commentor .commentorImg {
  margin-right: 30px;
  width: 6%;
}
.commentor .commentorImg img {
  width: auto;
}
.commentor .commentContainer {
  position: relative;
  background-color: #f6f6f6;
  padding: 20px;
}
.commentor .userComment {
  margin-top: 8px;
}
.commentor .commentCarat {
  position: absolute;
  left: -8px;
  bottom: 95px;
  color: #f6f6f6;
  font-size: 30px;
  font-size: 1.5rem;
}
.commentor .commentTime {
  margin-bottom: 0;
}

input,
textarea {
  display: block;
  border: 1px solid #f6f6f6;
}

.nameEmailSite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.nameEmailSite input {
  width: 32%;
  padding: 15px;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}

.commentButton {
  margin-bottom: 200px;
}

.recipes .recipePicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.recipes .mostPopular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 50%;
}
.recipes .mostPopular h2 {
  margin-bottom: 10px;
}
.recipes .mostPopular p {
  position: relative;
  width: 70%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 45px 0;
}
.recipes .mostPopular p:after {
  content: "";
  position: absolute;
  background: #64A604;
  width: 60px;
  height: 4px;
  top: 0px;
  right: 46%;
}
.recipes .recipeCategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background-color: #f6f6f6;
}

.lettuceBowlContainer,
.tacoContainer {
  width: 50%;
}

.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recipe a {
  text-decoration: none;
  color: inherit;
}
.recipe a:hover, .recipe a:focus {
  color: #64A604;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.recipe h3 {
  text-transform: uppercase;
}
.recipe .recipeIcon {
  font-size: 30px;
  font-size: 1.5rem;
  margin-right: 20px;
}
.recipe .recipeText {
  width: 60%;
  text-align: left;
}
.recipe .recipeText p {
  font-size: 13px;
  font-size: 0.65rem;
  line-height: 24px;
}

.restaurantSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.restaurantSection h2 {
  letter-spacing: 2.1px;
}

.restaurantImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.restaurantImgContainer .restaurantImg, .restaurantImgContainer .circleTextImg {
  width: auto;
  height: auto;
}
.restaurantImgContainer .restaurantImg {
  margin: 265px 0 75px;
}
.restaurantImgContainer .circleTextImg {
  position: absolute;
  right: -78px;
  top: 148px;
}

.restaurantParagraph {
  position: relative;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.3px;
  width: 75%;
  padding-top: 35px;
  margin-bottom: 165px;
}
.restaurantParagraph::after {
  content: "";
  position: absolute;
  background: #64A604;
  width: 70px;
  height: 4px;
  top: 0px;
  right: 47%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery a {
  width: 33.3333333333%;
}
.gallery a :hover, .gallery a :focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.carousel {
  background-color: #DDED9A;
}
.carousel .hungryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 200px 0 200px;
}
.carousel .hungryContainer .carouselArrowContainer {
  margin-top: 100px;
}
.carousel .hungryContainer .carouselArrowContainer .arrow {
  color: #f6f6f6;
  font-size: 28px;
  font-size: 1.4rem;
  margin: 0 10px;
}
.carousel .hungryContainer .carouselArrowContainer .arrow:hover, .carousel .hungryContainer .carouselArrowContainer .arrow:focus {
  color: #64A604;
}
.carousel .carouselQuoteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.carousel .carouselQuoteContainer .carouselText {
  position: relative;
  width: 80%;
  padding-top: 60px;
}
.carousel .carouselQuoteContainer .carouselText:after {
  content: "";
  position: absolute;
  background: #64A604;
  width: 70px;
  height: 4px;
  top: 0px;
  right: 47%;
}
.carousel .carouselQuoteContainer .quote {
  color: #f6f6f6;
  font-size: 50px;
  font-size: 2.5rem;
}
.carousel .carouselQuoteContainer .leftQuote {
  position: absolute;
  left: 60px;
  top: 70px;
}
.carousel .carouselQuoteContainer .rightQuote {
  position: absolute;
  right: 55px;
  bottom: 50px;
}

footer {
  background-color: #333333;
}
footer .footerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 168px 0;
}
footer .footerFlexContainer div {
  width: 66%;
}
footer .footerFlexContainer .contactInfo a,
footer .footerFlexContainer .contactInfo :nth-child(3) {
  display: block;
  width: 60%;
}
footer .footerFlexContainer .contactInfo .contactParagraph {
  width: 60%;
  padding-bottom: 15px;
}
footer .footerFlexContainer .contactInfo :nth-child(n+2) {
  border-bottom: 1px solid #535353;
  padding-bottom: 20px;
}
footer .footerFlexContainer .contactInfo :nth-child(3) {
  line-height: 0.5;
  padding-bottom: 20px;
}
footer .footerFlexContainer .contactInfo :last-child {
  border-bottom: 0;
}
footer .footerFlexContainer .contactInfo * {
  margin: 0 0 20px;
}
footer .recentPostContainer h3 {
  margin-bottom: 50px;
}
footer .recentPostContainer ul li {
  width: 63%;
  border-bottom: 1px solid #535353;
  margin-bottom: 13px;
  padding-bottom: 13px;
}
footer .recentPostContainer ul :last-child {
  border: none;
}
footer .subscribeNowContainer h3 {
  margin-bottom: 50px;
}
footer .subscribeNowContainer p {
  margin-bottom: 25px;
}
footer .socialContainer {
  width: 100%;
  color: #f6f6f6;
  font-size: 16px;
  font-size: 0.8rem;
  border-top: 1px solid #999999;
  margin-top: 30px;
}
footer .socialContainer a {
  text-decoration: none;
  color: #f6f6f6;
}
footer .socialContainer i {
  margin: 20px 20px 0 0;
}
footer .socialContainer i.fa-facebook-f:hover, footer .socialContainer i.fa-facebook-f:focus {
  color: #4267B2;
}
footer .socialContainer i.fa-twitter:hover, footer .socialContainer i.fa-twitter:focus {
  color: #1DA1F2;
}
footer .socialContainer i.fa-instagram:hover, footer .socialContainer i.fa-instagram:focus {
  color: #C13584;
}

.emailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.emailContainer input {
  color: #999999;
  background-color: #535353;
  border: none;
  padding: 15px 40px 15px 15px;
}
.emailContainer .emailArrowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #64A604;
  margin: 0 auto;
  padding: 15px 20px;
}

.copyright {
  background-color: #2E2E2E;
}
.copyright .copyrightText {
  margin: 0;
  padding: 18px 0;
}
.copyright .copyrightText a {
  text-decoration: none;
  text-transform: uppercase;
  color: #64A604;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 44px;
    font-size: 2.2rem;
  }
  .mainMenu {
    font-size: 16px;
    font-size: 0.8rem;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 1024px) {
  h1,
h4 {
    font-size: 30px;
    font-size: 1.5rem;
  }
  .mainMenu {
    font-size: 14px;
    font-size: 0.7rem;
  }
  h2 {
    font-size: 24px;
    font-size: 1.2rem;
  }
  .recipes .mostPopular p {
    padding: 25px 0;
  }
  .recipes .mostPopular p::after {
    right: 42%;
  }
  .recipe .recipeIcon {
    font-size: 18px;
    font-size: 0.9rem;
    margin-right: 12px;
  }
  .recipe .recipeText {
    width: 80%;
    font-size: 10px;
    font-size: 0.5rem;
  }
  .recipe .recipeText p {
    margin: 7px 0;
  }
  h3 {
    font-size: 14px;
    font-size: 0.7rem;
  }
  .restaurantParagraph::after {
    right: 45%;
  }
  .carousel .carouselQuoteContainer .carouselText {
    font-size: 20px;
    font-size: 1rem;
  }
  .carousel .carouselQuoteContainer .leftQuote {
    left: 20px;
  }
  .carousel .carouselQuoteContainer .rightQuote {
    right: 20px;
    bottom: 40px;
  }
  .carousel .carouselQuoteContainer .carouselText::after {
    right: 45%;
  }
  footer .footerFlexContainer {
    padding: 100px 0 0 0;
  }
  header.blogPage {
    margin-bottom: 70px;
  }
  .commentTwo {
    margin-bottom: 50px;
  }
}
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 480px) {
  header {
    height: 50vh;
  }
  header.contact {
    height: 50vh;
  }
  .desktopNav {
    display: none;
  }
  .mobileNav,
.slideOutNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slideOutNav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobileNavIcon,
.mobileNavSearch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navIcons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search {
    padding-right: 26px;
  }
  .recipePicContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipes .mostPopular {
    width: 90%;
    margin-bottom: 50px;
  }
  .recipes .mostPopular h2 {
    margin-top: 50px;
  }
  .recipes .mostPopular p {
    width: auto;
  }
  .recipes .mostPopular p::after {
    right: 43%;
  }
  .recipes .lettuceBowlContainer,
.recipes .tacoContainer {
    width: 100%;
  }
  .recipes .recipeCategories {
    padding: 50px 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipes .recipeCategories ul > li {
    margin-bottom: 30px;
  }
  .restaurantImgContainer .restaurantImg {
    margin: 100px 0 75px;
  }
  .restaurantImgContainer .circleTextImg {
    width: 40%;
    right: 1px;
    top: 30px;
  }
  .restaurantParagraph {
    width: auto;
  }
  .restaurantParagraph::after {
    right: 42%;
  }
  .gallery a {
    width: 50%;
  }
  .carousel .carouselQuoteContainer .leftQuote {
    left: 0;
    top: 50px;
  }
  .carousel .carouselQuoteContainer .rightQuote {
    right: 6px;
    bottom: -15px;
  }
  .carousel .carouselQuoteContainer .carouselText::after {
    right: 40%;
  }
  footer .footerFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 100px 0;
  }
  footer .footerFlexContainer div {
    width: auto;
  }
  footer .footerFlexContainer .contactInfo {
    margin: 0;
    text-align: center;
  }
  footer .footerFlexContainer .contactInfo .footerHeader {
    margin-bottom: 40px;
  }
  footer .footerFlexContainer .contactInfo .contactParagraph {
    width: 100%;
  }
  footer .footerFlexContainer .contactInfo a {
    width: 100%;
  }
  footer .footerFlexContainer .contactInfo :nth-child(3) {
    width: 100%;
  }
  footer .footerFlexContainer .recentPostContainer {
    margin-bottom: 20px;
  }
  footer .footerFlexContainer .recentPostContainer ul li {
    width: 100%;
  }
  footer .footerFlexContainer .subscribeNowContainer p {
    width: 100%;
  }
  footer .footerFlexContainer .subscribeNowContainer .emailContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footerFlexContainer .subscribeNowContainer .emailContainer .emailArrowContainer {
    margin: 0;
  }
  footer .footerFlexContainer .subscribeNowContainer .socialContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  footer .footerFlexContainer .subscribeNowContainer .socialContainer i {
    margin-right: 0;
  }
  footer .footerFlexContainer .subscribeNowContainer .socialContainer a {
    font-size: 24px;
    font-size: 1.2rem;
  }
  footer .copyright {
    text-align: center;
  }
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .form {
    width: 90%;
    padding: 0;
    margin: 0 auto 100px;
  }
  .contactContainer .form form .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .contactContainer .form form .nameEmail .formName,
.contactContainer .form form .nameEmail .formEmail {
    width: 100%;
  }
  .contactContainer .form form .nameEmail input {
    margin-bottom: 20px;
  }
  .contactContainer .contactDetails {
    width: 100%;
    margin: 0 auto;
  }
  .contactContainer .contactDetails .detailParagraph {
    width: 90%;
  }
  .contactContainer .contactDetails .details {
    margin-bottom: 50px;
  }
  .contactContainer .contactDetails .details h2 {
    margin: 40px 0;
  }
  .contactContainer .contactDetails .hours {
    margin-bottom: 50px;
  }
  .contactContainer .contactDetails .contactInfo :nth-child(3) {
    margin: 10px 0;
  }
  header.blogPage {
    height: 50vh;
    margin-bottom: 50px;
  }
  .authorContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .authorContainer .authorPic {
    margin-bottom: 30px;
  }
  .authorContainer .sallyBio {
    padding: 30px;
  }
  .authorContainer .sallyBio h3 {
    text-align: center;
  }
  .authorContainer .sallyBio p {
    text-align: center;
  }
  .relatedPosts .postsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .relatedPosts .postsContainer .relatedPost {
    width: 100%;
  }
  .commentor .commentorImg {
    width: auto;
  }
  .commentor .commentCarat {
    bottom: 162px;
  }
  .commentTwo {
    margin-bottom: 50px;
  }
  .commentsSection p {
    font-size: 13px;
    font-size: 0.65rem;
  }
  .nameEmailSite {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .nameEmailSite input {
    width: 100%;
    margin-bottom: 20px;
  }
}
/*Smallest device */
@media (max-width: 320px) {
  .recipes .mostPopular {
    width: 90%;
    margin-bottom: 50px;
  }
  .recipes .mostPopular h2 {
    margin-top: 50px;
  }
  .recipes .mostPopular p {
    width: auto;
  }
  .recipes .mostPopular p::after {
    right: 39%;
  }
  .recipe .recipeIcon {
    margin-left: 10px;
  }
  .restaurantParagraph {
    width: auto;
  }
  .restaurantParagraph::after {
    right: 38%;
  }
  .gallery a {
    width: 100%;
  }
  .carousel .hungryContainer {
    padding: 75px 0 75px;
  }
  .carousel .carouselQuoteContainer .carouselText {
    font-size: 20px;
    font-size: 1rem;
  }
  .carousel .carouselQuoteContainer .carouselText::after {
    right: 37%;
  }
  .carousel .carouselQuoteContainer .quote {
    font-size: 30px;
    font-size: 1.5rem;
  }
}